<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kopo.hanashorts.market.mapper.MarketMapper">

  <!-- 기존 currencies 쿼리 -->
  <select id="getAllCurrencyPrice" resultType="com.kopo.hanashorts.market.model.CurrencyPriceDTO">
    SELECT
      currency_name AS currencyName,
      buy_price AS buyPrice,
      sell_price AS sellPrice,
      high_price AS highPrice,
      low_price AS lowPrice,
      change_value AS changeValue,
      change_percent AS changePercent,
      update_time AS rateTime
    FROM market_currency_price ORDER BY id
  </select>

  <!-- currencyPeriods 쿼리 -->
  <select id="getAllCurrencyPerformance" resultType="com.kopo.hanashorts.market.model.CurrencyPerformanceDTO">
    SELECT
      currency_name AS currencyName,
      period_daily AS periodDaily,
      period_weekly AS periodWeekly,
      period_monthly AS periodMonthly,
      period_ytd AS periodYtd,
      period_yearly AS periodYearly,
      period_3years AS period3Years
    FROM market_currency_performance ORDER BY id
  </select>

  <!-- commodities 쿼리 -->
  <select id="getAllCommodityPrice" resultType="com.kopo.hanashorts.market.model.CommodityPriceDTO">
    SELECT
      commodity_name AS commodityName,
      contract_month AS contractMonth,
      closing_price AS closingPrice,
      high_price AS highPrice,
      low_price AS lowPrice,
      change_value AS changeValue,
      change_percent AS changePercent,
      update_time AS rateTime
    FROM market_commodity_price ORDER BY id
  </select>

  <!-- commodityPeriods 쿼리 -->
  <select id="getAllCommodityPerformance" resultType="com.kopo.hanashorts.market.model.CommodityPerformanceDTO">
    SELECT
      commodity_name AS commodityName,
      period_daily AS periodDaily,
      period_weekly AS periodWeekly,
      period_monthly AS periodMonthly,
      period_ytd AS periodYtd,
      period_yearly AS periodYearly,
      period_3years AS period3Years
    FROM market_commodity_performance ORDER BY id
  </select>

  <!-- indices 쿼리 -->
  <select id="getAllIndexPrice" resultType="com.kopo.hanashorts.market.model.IndexPriceDTO">
    SELECT
      index_name AS indexName,
      closing_price AS closingPrice,
      high_price AS highPrice,
      low_price AS lowPrice,
      change_value AS changeValue,
      change_percent AS changePercent,
      update_time AS rateTime
    FROM market_index_price ORDER BY id
  </select>

  <!-- indexPeriods 쿼리 -->
  <select id="getAllIndexPerformance" resultType="com.kopo.hanashorts.market.model.IndexPerformanceDTO">
    SELECT
      index_name AS indexName,
      period_daily AS periodDaily,
      period_weekly AS periodWeekly,
      period_monthly AS periodMonthly,
      period_ytd AS periodYtd,
      period_yearly AS periodYearly,
      period_3years AS period3Years
    FROM market_index_performance ORDER BY id
  </select>

  <!-- stocks 쿼리 -->
  <select id="getAllStockKospiPrice" resultType="com.kopo.hanashorts.market.model.StockPriceDTO">
    SELECT
      stock_name AS stockName,
      closing_price AS closingPrice,
      high_price AS highPrice,
      low_price AS lowPrice,
      change_value AS changeValue,
      change_percent AS changePercent,
      volume AS volume,
      update_time AS rateTime
    FROM market_stock_kospi_price
    ORDER BY
        CASE
            WHEN volume LIKE '%K' THEN (CAST(REPLACE(volume, 'K', '') AS FLOAT) * 1000)
            WHEN volume LIKE '%M' THEN (CAST(REPLACE(volume, 'M', '') AS FLOAT) * 1000000)
            ELSE CAST(volume AS FLOAT)
        END DESC
  </select>

  <!-- stockPeriods 쿼리 -->
  <select id="getAllStockKospiPerformance" resultType="com.kopo.hanashorts.market.model.StockPerformanceDTO">
    SELECT
      stock_name AS stockName,
      period_daily AS periodDaily,
      period_weekly AS periodWeekly,
      period_monthly AS periodMonthly,
      period_ytd AS periodYtd,
      period_yearly AS periodYearly,
      period_3years AS period3Years
    FROM market_stock_kospi_performance ORDER BY id
  </select>

  <!-- stocks 쿼리 -->
  <select id="getAllStockKosdaqPrice" resultType="com.kopo.hanashorts.market.model.StockPriceDTO">
    SELECT
      stock_name AS stockName,
      closing_price AS closingPrice,
      high_price AS highPrice,
      low_price AS lowPrice,
      change_value AS changeValue,
      change_percent AS changePercent,
      volume AS volume,
      update_time AS rateTime
    FROM market_stock_kosdaq_price
    ORDER BY
      CASE
        WHEN volume LIKE '%K' THEN (CAST(REPLACE(volume, 'K', '') AS FLOAT) * 1000)
        WHEN volume LIKE '%M' THEN (CAST(REPLACE(volume, 'M', '') AS FLOAT) * 1000000)
        ELSE CAST(volume AS FLOAT)
        END DESC
  </select>

  <!-- stockPeriods 쿼리 -->
  <select id="getAllStockKosdaqPerformance" resultType="com.kopo.hanashorts.market.model.StockPerformanceDTO">
    SELECT
      stock_name AS stockName,
      period_daily AS periodDaily,
      period_weekly AS periodWeekly,
      period_monthly AS periodMonthly,
      period_ytd AS periodYtd,
      period_yearly AS periodYearly,
      period_3years AS period3Years
    FROM market_stock_kosdaq_performance ORDER BY id
  </select>








</mapper>
